:root {
  --linen: #fbeadc;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #443124;
  cursor: auto;
  background-color: #fff1e6;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
}

h2 {
  opacity: 1;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

h4 {
  margin-top: 56px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

a {
  color: #443124;
  cursor: none;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
  font-size: 20px;
  line-height: 28px;
  list-style-type: none;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 28px;
  list-style-type: disc;
}

.header {
  object-fit: fill;
  margin-bottom: 0;
  display: block;
  overflow: auto;
}

.intro {
  opacity: 1;
  position: relative;
}

.projects {
  margin-top: 120px;
  margin-bottom: 38px;
}

.projects.firstaml {
  margin-bottom: 45px;
  padding-bottom: 50px;
}

.footer {
  height: 100px;
  -webkit-text-fill-color: inherit;
  background-color: rgba(255, 217, 188, 0);
  background-clip: border-box;
}

.header-image {
  z-index: -3;
  width: 100%;
  height: 146px;
  min-width: 100%;
  object-fit: cover;
  margin-top: -332px;
  margin-left: auto;
  margin-right: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.container {
  max-width: 920px;
  margin-top: 0;
  margin-bottom: 75px;
  padding-bottom: 0;
}

.p1 {
  opacity: .9;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.p2 {
  line-height: 31px;
}

.p3 {
  object-fit: fill;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  display: block;
}

.p3.indent {
  margin-left: 12px;
}

.p3.right-align {
  text-align: right;
  font-size: 16px;
  line-height: 24px;
}

.div-block {
  height: 40px;
}

.div-block._80px {
  height: 80px;
}

.div-block._32px {
  height: 32px;
}

.div-block._20px {
  height: 20px;
}

.div-block._12px {
  height: 12px;
}

.div-block._8px {
  height: 8px;
}

.div-block.underline {
  height: 4px;
  border-bottom: 2px solid rgba(68, 49, 36, .95);
  margin-top: 18px;
  margin-bottom: 32px;
}

.div-block._140px {
  height: 140px;
}

.div-block._72px {
  height: 72px;
}

.div-block._100px {
  height: 100px;
}

.icon {
  width: 16px;
  margin-left: 4px;
  margin-right: auto;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
}

.icon._60 {
  opacity: .6;
  margin-left: 8px;
  padding-top: 2px;
  padding-bottom: 0;
}

.icon.adjusted-1 {
  margin-left: 8px;
}

.icon._24px {
  width: 24px;
}

.icon.top {
  margin-left: 8px;
}

.icon.big {
  width: 32px;
  padding-bottom: 0;
}

.full-width-link {
  opacity: 1;
  border-bottom: 2px solid #443124;
  justify-content: flex-start;
  padding-bottom: 0;
  font-size: 20px;
  line-height: 24px;
  display: flex;
}

.full-width-link._100 {
  border-bottom-color: #443124;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.full-width-link._100.top {
  cursor: pointer;
  justify-content: center;
}

.grid {
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  opacity: 1;
  object-fit: fill;
  border: 0 solid #000;
  border-radius: 0;
  grid-template-rows: 1.75fr auto auto;
  align-content: stretch;
  margin-bottom: 24px;
  overflow: visible;
}

.grid.grid-hidden {
  opacity: 1;
  object-fit: fill;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  margin-bottom: 0;
  overflow: visible;
}

.grid-container {
  cursor: pointer;
  background-color: #fffcfa;
  border: 0 rgba(47, 28, 14, .8);
  border-radius: 0;
  transition: box-shadow 70ms cubic-bezier(.772, .153, .25, 1);
}

.grid-container:hover {
  outline-offset: 0px;
  border: 0 #2f1c0e;
  outline: 3px rgba(68, 49, 36, .8);
  box-shadow: 0 0 0 3px rgba(47, 28, 14, .79);
}

.grid-container.hover {
  outline-offset: 0px;
  outline: 2px rgba(68, 49, 36, .8);
}

.grid-hero {
  width: 100%;
  background-color: var(--linen);
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  background-clip: border-box;
  margin-top: 0;
  overflow: visible;
}

.grid-hero.colour-1 {
  background-color: #d7f4d8;
}

.grid-hero.colour-2 {
  background-color: #d7eef3;
}

.grid-hero.colour-3 {
  background-color: #ded7f3;
}

.grid-hero.colour-4 {
  background-color: #49148c;
}

.grid-content {
  background-color: #fffcfa;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
  padding: 40px 48px 48px;
}

.grid-content.full-width {
  width: 65%;
  height: 100%;
}

.grid-content._3-column {
  padding-left: 24px;
  padding-right: 24px;
}

.grid-content.slim {
  padding-top: 32px;
  padding-bottom: 40px;
}

.grid-content.header {
  margin-bottom: 0;
  padding-bottom: 32px;
}

.image {
  max-width: 89%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  display: block;
}

.image.adjusted-1 {
  max-width: 74%;
}

.image.firstaml {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 0%;
}

.image-2 {
  padding-top: 0;
}

.grid-heading-link {
  display: flex;
}

.grid-heading-link.full-width {
  margin-top: 24px;
}

.h1.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.h2.link {
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.container-2 {
  max-width: 100%;
  background-color: #ffd9bc;
}

.section {
  object-fit: contain;
  margin-top: 128px;
  margin-bottom: 32px;
}

.body {
  cursor: auto;
  margin-bottom: 0;
  padding-bottom: 152px;
}

.div-block-2 {
  z-index: auto;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  left: 0;
  right: 0;
}

.div-block-2.accordion-hide {
  left: 78px;
}

.more-projects {
  margin-bottom: 0;
}

.div-block-3 {
  width: 185px;
  opacity: 1;
  margin-top: 28px;
  margin-left: 0;
}

.div-block-4 {
  z-index: 2;
  width: 100%;
  height: 100%;
  outline-offset: 0px;
  background-color: rgba(0, 0, 0, 0);
  outline: 2px solid #2f1c0e;
  position: relative;
  top: -100%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.div-block-4.outline {
  z-index: 2;
  height: 100%;
  float: none;
  clear: none;
  opacity: 0;
  object-fit: none;
  position: relative;
  top: -100%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.breadcrumbs {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 54px;
}

.project-intro.process {
  margin-top: 45px;
}

.grid-2 {
  grid-column-gap: 23px;
  object-fit: fill;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.25fr 1fr;
  align-content: stretch;
  justify-content: start;
  align-items: start;
  justify-items: start;
  margin-right: 0;
  padding-left: 0;
}

.grid-2._33 {
  grid-template-columns: .75fr 1.25fr 1fr;
}

.grid-2.personal {
  grid-template-columns: .75fr .75fr 1fr;
}

.div-block-5 {
  margin-right: 0;
}

.grid-3 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template: "Area Area Area"
                 "Area-2 Area-2 Area-2"
                 ". . ."
                 / 1fr 1fr 1fr;
  grid-auto-flow: row;
}

.div-block-6 {
  cursor: pointer;
  transition: opacity .2s cubic-bezier(.772, .153, .25, 1);
  display: flex;
}

.div-block-6:hover {
  box-shadow: 0 0 0 2px rgba(47, 28, 14, .79);
}

.button {
  text-transform: uppercase;
  background-color: #2e2e2e;
  border-radius: 20px;
  padding: 6px 12px 5px;
  font-size: 16px;
  font-weight: 700;
}

.text-block {
  width: 128px;
  color: #fff;
  background-color: #2e2e2e;
  border-radius: 20px;
  padding: 6px 12px 5px;
  font-size: 16px;
  font-weight: 700;
}

.text-block.home-case {
  width: auto;
  opacity: 1;
  color: #ad4a05;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.text-span {
  font-weight: 700;
}

.text-span-2 {
  font-style: italic;
  font-weight: 500;
}

.list {
  padding-left: 27px;
}

.list.ordered-in-text {
  margin-top: 8px;
  margin-bottom: 32px;
  list-style-type: decimal;
}

.list.in-paragraph {
  margin-top: 32px;
  margin-bottom: 38px;
}

.list.in-paragraph.no-margin {
  margin-top: -4px;
  margin-bottom: 31px;
}

.image-3 {
  width: 100%;
  max-width: 100%;
}

.section-2 {
  height: 80px;
}

.text-span-3 {
  font-weight: 700;
}

.container-3, .container-4 {
  max-width: 920px;
}

.div-block-7 {
  padding-right: 4px;
}

.div-block-7.get-in-touch {
  width: 26px;
  padding-right: 0;
}

.text-block-2 {
  width: auto;
  flex: 0 auto;
  font-size: 16px;
  text-decoration: underline;
  display: block;
}

.text-block-2.get-in-touch {
  width: 100%;
  text-align: right;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.text-block-2.get-in-touch.geeet {
  padding: 12px 12px 12px 16px;
  position: static;
  top: 0;
  left: 41px;
}

.text-block-2.get-in-touch.geeet:hover {
  top: 0;
}

.text-block-2.big {
  width: auto;
}

.link-block {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  display: flex;
}

.text-block-3 {
  font-weight: 600;
}

.div-block-8 {
  cursor: pointer;
  margin-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 8px;
  display: flex;
}

.list-intro {
  margin-top: 8px;
  margin-bottom: 32px;
  list-style-type: decimal;
}

.list-item {
  font-size: 24px;
  line-height: 31px;
}

.div-block-9 {
  cursor: pointer;
  object-fit: contain;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
  margin-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  display: flex;
  overflow: visible;
}

.div-block-9.top {
  padding-top: 29px;
  overflow: visible;
}

.section-3 {
  height: 200px;
}

.div-block-10 {
  display: flex;
}

.star {
  margin-right: 8px;
}

.text-span-4, .text-span-5 {
  font-weight: 800;
}

.div-block-11 {
  border: 2px #2f1c0e;
  border-right-style: solid;
  flex: 1;
  justify-content: flex-end;
  padding-right: 124px;
  display: flex;
}

.div-block-11.get-in_touch {
  border-right-style: solid;
  flex: 0 auto;
  justify-content: center;
  align-items: stretch;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 53px;
  padding-right: 23px;
  display: block;
}

.div-block-11.get-in_touch.btn {
  width: auto;
  border-right-style: none;
  padding-right: 0;
}

.container-5 {
  max-width: 100%;
  margin-bottom: 29px;
  padding-left: 38px;
  padding-right: 116px;
  display: flex;
}

.div-block-12 {
  width: 100%;
  max-width: 100%;
}

.link-block-2 {
  font-size: 22px;
  display: flex;
}

.div-block-13 {
  padding-right: 5px;
  display: flex;
}

.get-in-touch {
  font-weight: 600;
}

.div-block-14 {
  position: relative;
  top: 0;
  left: 41px;
}

.get-offset {
  position: absolute;
  top: 162px;
  left: 1199.19px;
}

.text-block-4 {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 28px;
  position: static;
}

.get-in-touch2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  left: 1209.19px;
}

.getintouch {
  justify-content: flex-end;
}

.text-block-5 {
  text-align: right;
  padding: 8px 12px;
  font-size: 20px;
  position: relative;
  top: 3px;
  right: -41px;
}

.some-get {
  margin-right: 0;
  padding: 0;
  position: static;
  top: 158px;
  right: 50px;
}

.contact {
  width: 100%;
  padding: 8px 12px;
  font-size: 20px;
  position: relative;
  top: 2px;
  right: -49px;
}

.contact-master {
  outline-offset: 0px;
  cursor: auto;
  border: 1px solid rgba(0, 0, 0, 0);
  border-right: 2px solid #443124;
  border-radius: 0;
  outline: 3px #443124;
  margin-right: 5px;
  padding: 20px 0 39px 38px;
}

.linkedin {
  cursor: pointer;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 12px;
  display: flex;
}

.externallinkimg {
  width: 24px;
  height: 24px;
  flex: 0 auto;
  margin-left: 4px;
  display: block;
}

.text-block-6 {
  font-size: 20px;
  font-weight: 600;
}

.contact-wrapper {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.contactus {
  cursor: pointer;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 12px;
  position: relative;
  top: 0;
  right: -36px;
}

.conacasdgasd {
  font-size: 20px;
}

.right-aligned {
  text-align: right;
}

.bg {
  z-index: -4;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.bg.mouse-gradient {
  z-index: -2;
  cursor: none;
}

.mouse-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.cursor-wrapper {
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cursor {
  width: 40px;
  height: 40px;
  opacity: .9;
  background-color: #87e385;
  background-image: radial-gradient(circle farthest-side, #23be20 28%, rgba(186, 233, 51, 0));
  border-radius: 20px;
}

.gradient-bg {
  z-index: -1;
  width: 100%;
  opacity: .4;
  filter: blur(150px);
  object-fit: fill;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: -17%;
  margin-left: 0;
  margin-right: 0;
  display: block;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.bg-circle {
  width: 30vw;
  height: 30vw;
  background-color: #455268;
  border-radius: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.bg-circle._1 {
  width: 40vw;
  height: 40vw;
  opacity: 1;
  background-color: #66b6f6;
  border-radius: 20%;
  margin-top: -16%;
  margin-left: -16%;
}

.bg-circle._2 {
  opacity: .5;
  background-color: #8eddf5;
  border-radius: 40%;
  margin-top: -20%;
}

.bg-circle._3 {
  width: 40vw;
  height: 40vw;
  background-color: #66b6f6;
  margin-top: -12%;
  margin-left: 52%;
}

.bg-circle._4 {
  width: 60vw;
  height: 60vw;
  background-color: #73d76d;
  margin-top: -32%;
  margin-right: -10%;
  left: auto;
  right: 0;
}

.bg-circle._5 {
  background-color: #c3b775;
  margin-top: 24%;
  margin-right: -8%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.bg-circle._6 {
  width: 40vw;
  height: 40vw;
  background-color: #5be7d2;
  margin-top: 35%;
  margin-bottom: -20%;
  margin-right: -16%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.bgmove {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.more-projects-bottom {
  margin-bottom: 0;
  padding-bottom: 72px;
  display: block;
}

.grid-4 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.vid-1 {
  max-width: 300px;
  align-items: flex-start;
  display: block;
}

.div-block-21 {
  max-height: 100%;
  max-width: 400px;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.background-video {
  position: static;
}

.grid-5 {
  grid-row-gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block-22 {
  width: 400px;
  height: 224px;
}

.grid-6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-4, .image-5, .image-6 {
  border-radius: 6px;
}

.body-2 {
  cursor: auto;
}

.link-block-3 {
  cursor: pointer;
}

.image-7 {
  display: block;
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 0;
    overflow: visible;
  }

  .container, .container-4 {
    max-width: 920px;
  }

  .div-block-9 {
    object-fit: fill;
    object-position: 50% 50%;
  }

  .div-block-9.top {
    object-fit: fill;
    padding-top: 19px;
  }

  .div-block-9.bottom {
    padding-top: 7px;
  }

  .div-block-11.get-in_touch {
    padding-top: 8px;
    padding-bottom: 54px;
  }

  .div-block-15 {
    margin-left: auto;
    margin-right: auto;
  }

  .contact-master {
    border-right: 2px solid #000;
  }

  .gradient-bg {
    opacity: .4;
    margin-top: -19%;
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  body {
    cursor: auto;
  }

  h1 {
    font-size: 40px;
  }

  a {
    cursor: pointer;
  }

  .container {
    max-width: 721px;
  }

  .p1 {
    font-size: 24px;
    line-height: 28px;
  }

  .p2 {
    font-size: 20px;
    line-height: 28px;
  }

  .p3 {
    font-size: 18px;
    line-height: 24px;
  }

  .icon._60 {
    width: 15px;
    padding-top: 1px;
    font-size: 20px;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .grid-content.full-width {
    padding: 20px 36px 34px;
  }

  .grid-content._3-column {
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .image {
    padding-top: 14%;
  }

  .h1.no-margin {
    font-size: 20px;
  }

  .body {
    cursor: default;
    padding-bottom: 92px;
  }

  .div-block-3 {
    width: 233px;
  }

  .breadcrumbs {
    margin-bottom: 16px;
  }

  .text-block {
    width: 109px;
    padding: 4px 10px 3px;
    font-size: 14px;
  }

  .container-4 {
    max-width: 721px;
  }

  .container-5 {
    padding-right: 79px;
  }

  .heading {
    font-size: 40px;
    line-height: 44px;
  }

  .text-block-7 {
    font-size: 20px;
  }

  .heading-2 {
    font-size: 40px;
  }

  .div-block-16 {
    margin-left: 0;
  }

  .heading-4 {
    line-height: 45px;
  }

  .cursor-wrapper {
    opacity: 1;
    border-radius: 20px;
    display: none;
  }

  .gradient-bg {
    opacity: .59;
    object-fit: fill;
    margin-top: -23%;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 37px;
  }

  h2 {
    margin-bottom: -1px;
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  ul {
    padding-left: 8px;
    font-size: 17px;
    line-height: 24px;
  }

  .header {
    margin-bottom: -22px;
  }

  .projects {
    margin-top: 71px;
  }

  .container {
    max-width: 96%;
  }

  .p1 {
    font-size: 20px;
    line-height: 25px;
  }

  .p2 {
    font-size: 18px;
    line-height: 25px;
  }

  .p3 {
    font-size: 16px;
    line-height: 22px;
  }

  .p3.indent {
    font-size: 17px;
    line-height: 22px;
  }

  .p3.right-align {
    font-size: 14px;
    line-height: 22px;
  }

  .div-block.underline {
    margin-top: 14px;
    margin-bottom: 20px;
  }

  .div-block._28px {
    height: 28px;
  }

  .div-block._16px {
    height: 16px;
  }

  .icon {
    width: 14px;
    margin-top: -3px;
    padding-bottom: 0;
  }

  .icon._60 {
    width: 13px;
    padding-top: 0;
    padding-bottom: 2px;
  }

  .icon._60._102 {
    margin-top: -1px;
    padding-bottom: 0;
  }

  .icon._24px {
    width: 20px;
  }

  .full-width-link._100 {
    font-size: 16px;
    line-height: 19px;
  }

  .full-width-link._100.top {
    padding-bottom: 12px;
  }

  .grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .grid-hero.full-width {
    width: 100%;
  }

  .grid-content.full-width {
    width: 100%;
    height: 100%;
    padding: 20px 20px 32px;
  }

  .grid-content._3-column {
    max-width: 362.656px;
    padding-top: 30px;
  }

  .grid-content.slim {
    padding: 28px 24px 32px;
  }

  .grid-content.header {
    padding: 26px 20px 25px;
  }

  .image {
    padding-top: 6%;
    padding-bottom: 0;
  }

  .image-2 {
    width: 44px;
  }

  .grid-heading-link.full-width {
    margin-top: 17px;
  }

  .h1.no-margin {
    font-size: 18px;
    line-height: 22px;
  }

  .body {
    padding-bottom: 33px;
  }

  .div-block-3 {
    width: 295px;
  }

  .grid-2 {
    grid-column-gap: 24px;
    grid-row-gap: 36px;
    grid-template: "Area Area-2 Area-2"
                   ". Area-3 Area-3"
                   / 1.5fr 1fr 1fr;
  }

  .grid-2._33 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: minmax(auto, auto) auto;
    grid-auto-flow: row;
  }

  .grid-3 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template: "Area Area Area-2 Area-2"
                   "Area-3 Area-3 Area-4 Area-4"
                   "Area-5 Area-5 . ."
                   / 1fr 1fr 1fr 1fr;
  }

  .div-block-6 {
    flex-direction: column;
  }

  .text-block {
    width: 96px;
    font-size: 12px;
  }

  .list {
    font-size: 17px;
    line-height: 23px;
  }

  .container-4 {
    max-width: 96%;
  }

  .div-block-7 {
    padding-right: 1px;
  }

  .text-block-2 {
    font-size: 14px;
  }

  .text-block-3 {
    font-size: 16px;
    line-height: 19px;
  }

  .div-block-8 {
    padding-bottom: 10px;
  }

  .list-intro {
    font-size: 18px;
    line-height: 23px;
  }

  .list-item {
    font-size: 18px;
    line-height: 27px;
  }

  .div-block-9 {
    margin-right: 5px;
  }

  .section-3 {
    height: 80px;
  }

  .container-5 {
    margin-bottom: -13px;
    padding-left: 20px;
    padding-right: 60px;
  }

  .linkedin {
    font-size: 24px;
  }

  .text-block-6 {
    font-size: 17px;
  }

  .contactus {
    font-size: 24px;
    top: -6px;
    right: -31px;
  }

  .conacasdgasd {
    font-size: 17px;
  }

  .heading {
    font-size: 32px;
    line-height: 36px;
  }

  .text-block-7 {
    font-size: 17px;
  }

  .heading-2 {
    font-size: 32px;
    line-height: 35px;
  }

  .div-block-16 {
    margin-top: -1px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-17 {
    width: 20px;
    font-size: 20px;
    line-height: 14px;
  }

  .list-2, .list-3, .list-4 {
    padding-left: 9px;
    font-size: 17px;
    line-height: 24px;
  }

  .heading-3 {
    font-size: 16px;
  }

  .text-block-8 {
    font-size: 14px;
    line-height: 19px;
  }

  .text-block-9 {
    font-size: 16px;
  }

  .heading-4 {
    line-height: 36px;
  }

  .cursor-wrapper {
    opacity: 1;
  }

  .gradient-bg {
    opacity: .64;
    object-fit: scale-down;
    margin-top: -25%;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: stretch;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
    line-height: 33px;
  }

  ul {
    font-size: 14px;
    line-height: 19px;
  }

  .header {
    margin-bottom: -21px;
  }

  .container {
    max-width: 94%;
  }

  .p1 {
    font-size: 18px;
  }

  .p2 {
    font-size: 16px;
    line-height: 22px;
  }

  .p2.in-text {
    font-size: 18px;
    line-height: 25px;
  }

  .p3.indent {
    font-size: 14px;
    line-height: 19px;
  }

  .p3.right-align {
    font-size: 13px;
    line-height: 20px;
  }

  .full-width-link._100 {
    font-size: 16px;
  }

  .grid {
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    align-content: stretch;
  }

  .grid-content.slim {
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .image {
    width: 100%;
    max-width: 90%;
    padding-top: 6%;
  }

  .grid-2 {
    grid-row-gap: 8px;
    grid-template: "Area Area Area"
                   "Area-2 Area-2 Area-2"
                   "Area-3 Area-3 Area-3"
                   / 1fr;
    grid-auto-flow: row;
    line-height: 21px;
  }

  .grid-2.offset {
    margin-left: 12px;
  }

  .div-block-5 {
    width: 100%;
    max-width: 100%;
  }

  .grid-3 {
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    grid-template: "Area Area Area"
                   "Area-2 Area-2 Area-2"
                   "Area-3 Area-3 Area-3"
                   "Area-4 Area-4 Area-4"
                   "Area-5 Area-5 Area-5"
                   / 1fr;
  }

  .list {
    font-size: 14px;
    line-height: 19px;
  }

  .list.ordered-in-text {
    font-size: 16px;
    line-height: 24px;
  }

  .list.in-paragraph {
    font-size: 16px;
    line-height: 22px;
  }

  .div-block-8 {
    font-size: 20px;
  }

  .list-intro.ii, .list-item {
    font-size: 18px;
  }

  .list-item.ii {
    font-size: 16px;
    line-height: 22px;
  }

  .div-block-9 {
    margin-top: 6px;
    margin-left: 3px;
  }

  .container-5 {
    margin-bottom: -7px;
    padding-right: 41px;
  }

  .contact-master {
    padding-bottom: 31px;
    padding-left: 0;
  }

  .linkedin {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .text-block-6 {
    font-size: 15px;
  }

  .contactus {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .conacasdgasd {
    font-size: 15px;
  }

  .text-block-7 {
    font-size: 16px;
  }

  .heading-2 {
    font-size: 28px;
    line-height: 32px;
  }

  .list-2, .list-4 {
    font-size: 14px;
    line-height: 19px;
  }

  .heading-4 {
    font-size: 28px;
    line-height: 32px;
  }

  .list-5 {
    font-size: 14px;
    line-height: 19px;
  }

  .list-item-2 {
    line-height: 21px;
  }

  .div-block-18, .div-block-19, .div-block-20 {
    width: 100%;
  }

  .gradient-bg {
    width: 100%;
    opacity: .74;
    filter: blur(129px);
    object-fit: fill;
    object-position: 50% 50%;
    margin-top: -30%;
    display: block;
    right: 0%;
    overflow: hidden;
  }

  .bg-circle._1 {
    margin-left: 4%;
  }

  .bg-circle._2 {
    background-color: #8eddf5;
  }

  .bg-circle._3, .bg-circle._4 {
    background-color: #73d76d;
  }

  .bg-circle._5 {
    background-color: #c3b775;
  }

  .bg-circle._6 {
    background-color: #5be7d2;
    margin-right: -5%;
  }

  .grid-4 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-6 {
    grid-column-gap: 8px;
    grid-row-gap: 12px;
  }
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-6c21dcdb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-6c21dcdb, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-6c21dcdb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-5f21dcdd {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-5f21dcdd, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-5f21dcdd {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-a421dcde {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-a421dcde, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-a421dcde {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_013a1696-7279-e48f-8836-6bf84fc200e3-0521dcdf {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_013a1696-7279-e48f-8836-6bf84fc200f1-0521dcdf, #w-node-_013a1696-7279-e48f-8836-6bf84fc2010b-0521dcdf {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-2021dce1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-2021dce1, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-2021dce1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-cf4e541b-3ba6-3284-d482-127c91560df7-7d21dce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_6b243e59-a2ef-7e2f-74b9-032542694e82-7d21dce2, #w-node-_341b1908-c3a7-4af8-fc0a-a83d4ac5a6e7-7d21dce2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_171c53eb-0540-fcaa-84f4-b9669693fcc4-7d21dce2, #w-node-_435f43ad-7d36-860d-ef6b-606d26a6fc84-7d21dce2 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-cf4e541b-3ba6-3284-d482-127c91560df7-d121dce4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_6b243e59-a2ef-7e2f-74b9-032542694e82-d121dce4, #w-node-_341b1908-c3a7-4af8-fc0a-a83d4ac5a6e7-d121dce4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_171c53eb-0540-fcaa-84f4-b9669693fcc4-d121dce4, #w-node-_435f43ad-7d36-860d-ef6b-606d26a6fc84-d121dce4 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-8a21dce7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-8a21dce7, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-8a21dce7 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_013a1696-7279-e48f-8836-6bf84fc200e3-af21dce8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_013a1696-7279-e48f-8836-6bf84fc200f1-af21dce8, #w-node-_013a1696-7279-e48f-8836-6bf84fc2010b-af21dce8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-4b21dcea {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-4b21dcea, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-4b21dcea {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-ae21dceb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-ae21dceb, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-ae21dceb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-da21dced {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-da21dced, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-da21dced {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-4621dcf1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: auto;
  justify-self: auto;
}

#w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-4621dcf1, #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-4621dcf1, #w-node-d5868f1d-4bc8-8252-924d-51b6ec2397a9-4621dcf1, #w-node-_1a21d361-cce5-651a-8cb0-ab4cd4ab6e8a-4621dcf1, #w-node-a2566ff4-5fb8-bdd2-8aee-a6b8f641e836-4621dcf1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-6c21dcdb {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-6c21dcdb {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-6c21dcdb {
    grid-area: Area-3;
  }

  #w-node-_05d60335-9711-f059-f281-d2c0f4273954-6c21dcdb, #w-node-_05d60335-9711-f059-f281-d2c0f4273960-6c21dcdb, #w-node-_7ec6a906-3b15-51df-499a-160229be07cd-6c21dcdb {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-5f21dcdd {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-5f21dcdd {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-5f21dcdd {
    grid-area: Area-3;
  }

  #w-node-_3cf8efb8-24eb-81cc-1e42-d614ff10026d-5f21dcdd, #w-node-_3cf8efb8-24eb-81cc-1e42-d614ff100279-5f21dcdd, #w-node-_3cf8efb8-24eb-81cc-1e42-d614ff100261-5f21dcdd {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-a421dcde {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-a421dcde {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-a421dcde {
    grid-area: Area-3;
  }

  #w-node-_41558664-2f3b-b464-0444-0f254c0f62fd-a421dcde, #w-node-_41558664-2f3b-b464-0444-0f254c0f6309-a421dcde, #w-node-_41558664-2f3b-b464-0444-0f254c0f6315-a421dcde {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_013a1696-7279-e48f-8836-6bf84fc200e3-0521dcdf {
    grid-area: Area;
  }

  #w-node-_013a1696-7279-e48f-8836-6bf84fc200f1-0521dcdf {
    grid-area: Area-2;
  }

  #w-node-_013a1696-7279-e48f-8836-6bf84fc2010b-0521dcdf {
    grid-area: Area-3;
  }

  #w-node-_2a290086-1add-79f7-533d-0623b4f949d6-0521dcdf, #w-node-_2a290086-1add-79f7-533d-0623b4f949ca-0521dcdf, #w-node-f3dd2c8b-9a0a-b8c3-1ae3-0601fc00817d-0521dcdf {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-2021dce1 {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-2021dce1 {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-2021dce1 {
    grid-area: Area-3;
  }

  #w-node-a88343ae-5b72-1f49-2473-4151b56c705f-2021dce1, #w-node-a88343ae-5b72-1f49-2473-4151b56c7077-2021dce1, #w-node-a88343ae-5b72-1f49-2473-4151b56c706b-2021dce1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-cf4e541b-3ba6-3284-d482-127c91560df7-7d21dce2 {
    grid-area: Area;
  }

  #w-node-_6b243e59-a2ef-7e2f-74b9-032542694e82-7d21dce2 {
    grid-area: Area-2;
  }

  #w-node-_341b1908-c3a7-4af8-fc0a-a83d4ac5a6e7-7d21dce2 {
    grid-area: Area-3;
  }

  #w-node-_171c53eb-0540-fcaa-84f4-b9669693fcc4-7d21dce2 {
    grid-area: Area;
  }

  #w-node-_435f43ad-7d36-860d-ef6b-606d26a6fc84-7d21dce2 {
    grid-area: Area-2;
  }

  #w-node-_3a180523-3f4b-25f5-99ee-c0d98f4feecb-7d21dce2 {
    grid-area: Area-3;
  }

  #w-node-d21739d6-fd4b-9e03-17be-edb2148d4500-7d21dce2 {
    grid-area: Area-5;
  }

  #w-node-_9c85dccf-05a3-a720-285f-69442df4c111-7d21dce2 {
    grid-area: Area-4;
  }

  #w-node-_6b243e59-a2ef-7e2f-74b9-032542694e82-d121dce4 {
    grid-area: Area-2;
  }

  #w-node-_341b1908-c3a7-4af8-fc0a-a83d4ac5a6e7-d121dce4 {
    grid-area: Area-3;
  }

  #w-node-_171c53eb-0540-fcaa-84f4-b9669693fcc4-d121dce4 {
    grid-area: Area;
  }

  #w-node-_435f43ad-7d36-860d-ef6b-606d26a6fc84-d121dce4 {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-8a21dce7 {
    grid-area: Area;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-8a21dce7 {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-8a21dce7 {
    grid-area: Area-3;
  }

  #w-node-c8d76e14-8540-7173-9141-98a9b6ba9733-8a21dce7, #w-node-c8d76e14-8540-7173-9141-98a9b6ba973f-8a21dce7, #w-node-d6c1ef1a-243d-80eb-e61d-c5dcda2380aa-8a21dce7 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_013a1696-7279-e48f-8836-6bf84fc200e3-af21dce8 {
    grid-area: Area;
  }

  #w-node-_013a1696-7279-e48f-8836-6bf84fc200f1-af21dce8 {
    grid-area: Area-2;
  }

  #w-node-_013a1696-7279-e48f-8836-6bf84fc2010b-af21dce8 {
    grid-area: Area-3;
  }

  #w-node-b89f6738-7b85-0899-09b8-e23cf2b64936-af21dce8, #w-node-_3c8c3197-f85d-8822-945e-39c06d9e1410-af21dce8, #w-node-facce1cb-15b8-ae65-1ec9-e136866fe74f-af21dce8 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-4b21dcea {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-4b21dcea {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-4b21dcea {
    grid-area: Area-3;
  }

  #w-node-e1411c60-6734-67b0-ffcd-cba06f940684-4b21dcea, #w-node-e1411c60-6734-67b0-ffcd-cba06f940690-4b21dcea, #w-node-e1411c60-6734-67b0-ffcd-cba06f94069c-4b21dcea {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-ae21dceb {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-ae21dceb {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-ae21dceb {
    grid-area: Area-3;
  }

  #w-node-f0e3be2b-cb4c-55b4-9adf-d827b12ecdef-ae21dceb, #w-node-_94f08b1a-8f44-b5ed-91c0-d270f2ee0c85-ae21dceb, #w-node-_16e2b6b1-aca3-f275-fbe1-ab24b8024095-ae21dceb {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-da21dced {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-da21dced {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-da21dced {
    grid-area: Area-3;
  }

  #w-node-_35d5e351-7fa9-c8cf-96de-0175050acec6-da21dced, #w-node-_35d5e351-7fa9-c8cf-96de-0175050aced2-da21dced, #w-node-_35d5e351-7fa9-c8cf-96de-0175050acede-da21dced {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa641-4621dcf1 {
    grid-area: Area;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa651-4621dcf1 {
    grid-area: Area-2;
  }

  #w-node-_5fed6e63-2291-3162-83d5-e4bd0d1aa66b-4621dcf1 {
    grid-area: Area-3;
  }

  #w-node-a7f9b9cf-ce02-6929-cb1d-2cf0d9ca41c0-4621dcf1, #w-node-a7f9b9cf-ce02-6929-cb1d-2cf0d9ca41cc-4621dcf1, #w-node-a7f9b9cf-ce02-6929-cb1d-2cf0d9ca41d8-4621dcf1 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_05d60335-9711-f059-f281-d2c0f4273954-6c21dcdb {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_05d60335-9711-f059-f281-d2c0f4273960-6c21dcdb, #w-node-_7ec6a906-3b15-51df-499a-160229be07cd-6c21dcdb, #w-node-_3cf8efb8-24eb-81cc-1e42-d614ff10026d-5f21dcdd, #w-node-_3cf8efb8-24eb-81cc-1e42-d614ff100279-5f21dcdd {
    grid-column: span 3 / span 3;
  }

  #w-node-_3cf8efb8-24eb-81cc-1e42-d614ff100261-5f21dcdd, #w-node-_41558664-2f3b-b464-0444-0f254c0f62fd-a421dcde {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_41558664-2f3b-b464-0444-0f254c0f6309-a421dcde, #w-node-_41558664-2f3b-b464-0444-0f254c0f6315-a421dcde, #w-node-_2a290086-1add-79f7-533d-0623b4f949d6-0521dcdf, #w-node-_2a290086-1add-79f7-533d-0623b4f949ca-0521dcdf {
    grid-column: span 3 / span 3;
  }

  #w-node-f3dd2c8b-9a0a-b8c3-1ae3-0601fc00817d-0521dcdf {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-a88343ae-5b72-1f49-2473-4151b56c705f-2021dce1 {
    grid-column: span 3 / span 3;
  }

  #w-node-a88343ae-5b72-1f49-2473-4151b56c7077-2021dce1 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-a88343ae-5b72-1f49-2473-4151b56c706b-2021dce1 {
    grid-column: span 3 / span 3;
  }

  #w-node-cf4e541b-3ba6-3284-d482-127c91560df7-7d21dce2 {
    grid-area: Area;
  }

  #w-node-_6b243e59-a2ef-7e2f-74b9-032542694e82-7d21dce2 {
    grid-area: Area-2;
  }

  #w-node-_341b1908-c3a7-4af8-fc0a-a83d4ac5a6e7-7d21dce2 {
    grid-area: Area-3;
  }

  #w-node-cf4e541b-3ba6-3284-d482-127c91560df7-d121dce4 {
    grid-area: span 1 / span 3 / span 1 / span 3;
    align-self: auto;
    justify-self: auto;
  }

  #w-node-c8d76e14-8540-7173-9141-98a9b6ba9733-8a21dce7, #w-node-c8d76e14-8540-7173-9141-98a9b6ba973f-8a21dce7, #w-node-d6c1ef1a-243d-80eb-e61d-c5dcda2380aa-8a21dce7 {
    grid-column: span 3 / span 3;
  }

  #w-node-b89f6738-7b85-0899-09b8-e23cf2b64936-af21dce8 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_3c8c3197-f85d-8822-945e-39c06d9e1410-af21dce8, #w-node-facce1cb-15b8-ae65-1ec9-e136866fe74f-af21dce8 {
    grid-column: span 3 / span 3;
  }

  #w-node-e1411c60-6734-67b0-ffcd-cba06f940684-4b21dcea {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-e1411c60-6734-67b0-ffcd-cba06f940690-4b21dcea, #w-node-e1411c60-6734-67b0-ffcd-cba06f94069c-4b21dcea, #w-node-f0e3be2b-cb4c-55b4-9adf-d827b12ecdef-ae21dceb {
    grid-column: span 3 / span 3;
  }

  #w-node-_94f08b1a-8f44-b5ed-91c0-d270f2ee0c85-ae21dceb {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-_16e2b6b1-aca3-f275-fbe1-ab24b8024095-ae21dceb, #w-node-_35d5e351-7fa9-c8cf-96de-0175050acec6-da21dced, #w-node-_35d5e351-7fa9-c8cf-96de-0175050aced2-da21dced {
    grid-column: span 3 / span 3;
  }

  #w-node-_35d5e351-7fa9-c8cf-96de-0175050acede-da21dced, #w-node-a7f9b9cf-ce02-6929-cb1d-2cf0d9ca41c0-4621dcf1 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }

  #w-node-a7f9b9cf-ce02-6929-cb1d-2cf0d9ca41cc-4621dcf1, #w-node-a7f9b9cf-ce02-6929-cb1d-2cf0d9ca41d8-4621dcf1 {
    grid-column: span 3 / span 3;
  }
}


